.main-theme {
  --main-100: #E2E8F0;
  --mian-200: #E2E8F0;
  --main-300: #CBD5E0;
  --main-400: #A0AEC0;
  --main-500: #718096;
  --main-600: #4A5568;
  --main-700: #2D3748;
  --green-100: #F687B3;
  --green-200: #ED64A6;
}
